<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/view-ui-plus/dist/styles/viewuiplus.css"> -->
    <title>webpack5 + Vue3</title>
</head>
<body>
    <div id="app"></div>


    <% if(htmlWebpackPlugin.options.cdn){ %> 
    <% for(var i in htmlWebpackPlugin.options.cdn){ %>
       <script src="<%= htmlWebpackPlugin.options.cdn[i] %>"></script>
    <% } %>
    <% } %>
    
</body>
</html>