<template>
    <div class="a">aaaa</div>
    <div class="b">
        <span>less</span>
    </div>
    <div class="c">
        <span>scss</span>
    </div>
</template>

<script>
import { onMounted, reactive, watch } from 'vue'
export default {
  setup () {
    const state = reactive({
      message: null
    })
  }
}
</script>
<style scoped>
  .a {
      width: 100px;
      height: 100px;
      transform: rotateZ(45deg);
      background: red;
  }
</style>
<style lang="less">
 .b {
     span {
      display: block;
      width: 100px;
      height: 100px;
      transform: rotateZ(75deg);
      background: green;
     }

 }
</style>
<style lang="scss">
$a: blue;
.c {
     span {
      display: block;
      width: 100px;
      height: 100px;
      transform: rotateZ(195deg);
      background: $a;
     }

}
</style>
