<template>
  <div class="index2">
    <div>测试图片 资源等展示</div>
    <img :src="image1" />
    <img :src="image2" />
    <img :src="image3" />
    <img src="/static/image/9.png" />

    <div>pinia: count的值: {{ store.count }}</div>
    <el-button type="primary" @click="onClickAdd">增加</el-button>
  </div>
</template>

<script setup>
import { onMounted, reactive, watch } from 'vue'
import { useCounterStore1 } from '@/stores/counter'
import image3 from '@/assets/wx3.png'
import image2 from '@/assets/wx2.png'
import image1 from '@/assets/wx1.png'

const state = reactive({
  a: {
    b: {
      c: {
        d: 1
      }
    }
  }
})
const store = useCounterStore1()

const onClickAdd = () => {
  const num = state.a?.b?.c?.d
  store.increment(num)
}
</script>
<style lang="scss">
.index2 {
  img {
    display: block;
    width: 300px;
    object-fit: contain;
  }
}
</style>
