<template>
  <router-view></router-view>
</template>

<script>
import { onMounted, reactive, watch } from 'vue'
export default {
  setup () {
    const state = reactive({
      message: null
    })
  }
}
</script>
